<footer class="g-footer">
  <section>{{ site.title }} ©
  {% assign current = "now" | date: "%Y" | plus: 0%}
  {% unless site.footer.since and site.footer.since == current %}
    {{ site.footer.since }}
    -
  {% endunless %}
  {{ current }}
  </section>
  <section><a href="https://www.wzc520pyf.cn/">WZC</a> ❤ <a href="https://pyf.wzc520pyf.cn/">PYF</a></section>
  		 	<div style="width:300px;margin:0 auto; padding:20px 0;">
				<img src="https://cdn.jsdelivr.net/gh/wzc520pyfm/Picbed_PicGo@master/img/%E5%A4%87%E6%A1%88%E5%9B%BE%E6%A0%87.png"/>
		 		<a target="_blank" href="https://beian.miit.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备 33010602011889号</p></a>
		 	</div>
	<section>浙ICP备2021022900号-1</section>		 
</footer>
